* {
    margin: 0;
    padding: 0;
}

body {
    border-top: 3px solid #158AA3;
    font-family: 'Source Serif Pro', serif;
    padding-top: 80px;
    background-color: #f5fbfc;
}

.page-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
}

header {
    border-top: 3px solid #158AA3;
    background-color: #fff;
    /* border-bottom: 1px solid #E9E9E9; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 5px 0 5px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}

.header-logo {
    height: 60px;
    margin-bottom: 10px;
    margin-left: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-right: 15px;
    text-decoration: none;
    color: #AAA;
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

nav ul li a:hover {
    border-bottom: 3px solid #158AA3;
    color: #000;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hero-image {
    width: 100%;
    background-image: url("images/hero-color.png");
    height: 50%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer-image {
    height: 90%;
}

/* .hero-image button {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.801);
    border: 4px solid rgba(255, 255, 255, 0.877);
}

.hero-image button:hover {
    background-color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
}

.hero-image button:focus {
    outline: none;
} */

.page-title {
    /* margin-top: 10px;
    border-top: 1px solid #E9E9E9; */
    width: 95%;
    text-align: center;
}

.page-title h1 {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.page-title h2 {
    font-family: beloved-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #158AA3;
    margin-top: -70px;
}

.page-title-reversed h1 {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.page-title-reversed h2 {
    font-family: beloved-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #158AA3;
    margin-bottom: -80px;
    text-align: center;
}

#about-section {
    width: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-section img {
    width: 100%;
}

#about-section-title {
    box-sizing: border-box;
    border: 2px dashed #158AA3;
    border-left: none;
    width: 100%;
    height: 100%;
}

.project-card {
    width: 260px;
    height: 225px;
    border: 1px solid black;
}

.project-card img {
    width: 100%;
}

.project-card figcaption {
    height: 60px;
}

footer {
    text-align: center;
    width: 95%;
    margin-top: 10px;
    border-top: 1px solid #E9E9E9;
    position: absolute;
    bottom: 0;
}